#macro card (type, contentLink, imgLink, title, objectives, videoLink)
  <div class="ui card">
    <div class="content">
        <div class="right floated meta"> <i class="{{type}} large icon"></i></div>
        <div class="header"> {{title}} </div>
    </div>
    <div class="ui bordered rounded image">
      <a class="ui card" href="{{contentLink}}">
        <img src="{{imgLink}}">
      </a>
    </div>
    <div class="content">
      <div class="description">
         {{objectives}}
      </div>
    </div>
    #if videoLink
      <div class="extra content">
     <!--   <div class="ui embed" data-url="{{videoLink}}">
        </div> -->
        <iframe src="{{videoLink}}" frameborder="0" allowfullscreen></iframe>
      </div>
    #endif
  </div>

#endmacro