# extends "main.html"
# block content

<div class="row">
  <div class="col-md-8">
     <div class="page-header">
       <h1>  {{course.title}}  </h1>
      </div>
  </div>
  <div class="col-md-4">
  </div>
</div>


# for topic in course.topicList
  <div class="row">
    # include "partials/topicelement.html"
  </div>
  <hr>
# endfor

<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-8">
    <h2>  <a class="item" href="labwall.html"> All Tutorials </a> </h2>
  </div>
</div>
<hr>

# endblock