# extends "main.html" 
# block content 
  
  <nav class="ui fixed top pointing borderless inverted menu">
    <header class="header item"> <a href="../index.html">{{topic.title}}</a></header>
    <div class="right tab-menu menu">
      # for chapter in book.chapters
          <a class="item" data-tab="{{chapter.shortTitle}}"> {{chapter.shortTitle}} </a>
      # endfor
    </div>
  </nav>

  <br>

  # for chapter in book.chapters
	  <section data-tab="{{chapter.shortTitle}}" class="ui tab stacked moodle-book segment">
	     {{ chapter.content }}
	  </section>
  # endfor

# endblock 