# extends "main.html"
# block content

<style>
# include "css/lab.css"
</style>


<div class="ui fixed top pointing inverted borderless compact menu labmenu">
  <header class="header item">
    <a onclick="window.history.back()" href="#"> <i class="chevron left icon"></i> </a>
    {{topic.title}}
  </header>

  <a class="active item" data-tab="{{book.chapters[0].shortTitle}}"> {{book.chapters[0].shortTitle}} </a>
  # for chapter in book.chapters[1:]
    <a class="item" data-tab="{{chapter.shortTitle}}"> {{chapter.shortTitle}} </a>
  # endfor
</div>

<div class="ui bottom attached  active tab segment lab" data-tab="{{book.chapters[0].shortTitle}}">
  <div class "ui segment">
    <br>
  </div>
  {{ book.chapters[0].content }}
</div>
# for chapter in book.chapters[1:]
<div class="ui bottom attached tab  segment lab" data-tab="{{chapter.shortTitle}}">
    <div class "ui segment">
    <br>
  </div>
  {{ chapter.content }}
</div>
# endfor


<script>
$('.ui.menu .item')
  .tab({
    history: true,
    historyType: 'hash'
  })
;
</script>
# endblock 