# extends "main.html"
# block content

<style>
# include "css/lab.css"
</style>

<div class="ui fixed sticky top attached tabular menu labmenu">
   <header class="header item">
    <a href="../index.html">{{topic.title}} </a>
  </header>
    <a class="active item" data-tab="{{book.chapters[0].shortTitle}}">
        {{book.chapters[0].shortTitle}}
    </a>
    # for chapter in book.chapters[1:]
      <a class="item" data-tab="{{chapter.shortTitle}}">
        {{chapter.shortTitle}}
      </a>
    # endfor
</div>

<br><br><br>

# for chapter in book.chapters
<div class="ui bottom attached tab segment lab" data-tab="{{chapter.shortTitle}}">
  {{ chapter.content }}
</div>
# endfor


<script>
$('.ui.menu .item')
  .tab({
    history: true,
    historyType: 'hash'
  })
;
</script>
# endblock 