 <!DOCTYPE html>
 <html>
   <head>

     <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
     <link  href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/solarized_light.min.css" rel="stylesheet" />

     <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
     <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
     <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/languages/java.min.js"></script>
     <script>hljs.initHighlightingOnLoad();</script>

      <style>
      # include "css/main.css"
    </style>

  </head>
  <body>
    <div class="container">

    # block content
    # endblock

    </div>

    <script>
     $(document).ready(function()
     {
       $("img").addClass ("img-responsive");

        $(function(){

           $('a > img[style]').each(function(){
               $el = $(this);
               var style = $el.attr('style');
               $el.attr('style','');
               $el.parent().attr('style',style);
            }); //Moves the inline styles

              $("img").each(function(){
                  var title = this.alt;
                  $(this).after('<figcaption class="caption"> <em>'+ title +'</em></figcaption>');
              }); //Adds the dynamic captions.
         });


     })
   </script>

  </body>
 </html>