 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   
     <title> {{ title }} </title>
   
     <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    #if external



     <link rel="stylesheet" href="http://semantic-ui.com/dist/semantic.min.css">
     <script src="http://semantic-ui.com/javascript/library/jquery.min.js"></script>
     <script src="http://semantic-ui.com/dist/semantic.min.js"></script>

     <link href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/solarized_light.min.css" rel="stylesheet" /> 
     <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/languages/java.min.js"></script>
     <script>hljs.initHighlightingOnLoad();</script>

    #else

     <link rel="stylesheet" href="./style/semantic/semantic.min.css" type="text/css">
     <script src="./style/custom/jquery-2.1.0.min.js"></script> 
     <script src="./style/custom/jquery.address-1.6.min.js"></script>
     <script src="./style/semantic/semantic.min.js"></script>
   
     <link rel="stylesheet" href="./style/highlight/solarized_light.css">
     <script src="./style/highlight/highlight.pack.js"></script> 
     <script>hljs.initHighlightingOnLoad();</script>

    #endif

    <style>
      # include "main.css"
    </style>

  </head>
  <body>
    # block content
    # endblock


  <br>  
  <div class="ui fixed bottom borderless menu">'
    <div class="ui small item"> 
    <p id="footertext">
    Prepared by  {{contributors}}. Except where otherwise noted, this content is licensed under a  
     <a  href="http://creativecommons.org/licenses/by-nc/4.0/" title="External link to http://creativecommons.org/licenses/by-nc/4.0/" 
       target="_blank">Creative Commons Attribution-NonCommercial 4.0 License
     </a>
     </p>
    </div>
  </div>   
    
   #if tracking
    #include 'tracking.html'
   #endif  


  <script>
    $(document).ready(function()
    {  
      $('.tab-menu.menu .item').tab();
    });
  </script>   
  </body>
 </html>