<div class="col-md-6">
  <div class=" panel panel-default">
    <div class="panel-heading">
      <h4 class="text-center">
        <a href="{{courseUrl}}{{topicElement.fullPdfPath}}">
          {{topicElement.title}}
        </a>
      </h4>
    </div>
    <img src="{{courseUrl}}{{topicElement.fullImgPath}}" class="img-responsive center-block" width="300">
    <div class="panel-body">
      <hr>
      <blockquote>
        {{topicElement.textWithoutHeadder}}
      </blockquote>
    </div>
  </div>
</div>