  <div class="six wide center aligned column">
    <a href="./pdf/{{topicElement.pdf}}">
      # if topicElement.img:
      <img class="ui medium image" src="{{topicElement.img}}">
      # else
        {{topicElement.pdf}}
      # endif
    </a>
  </div>
  <div class="ten wide column">
    <h4 class="ui left aligned header">
     <a href="./pdf/{{topicElement.pdf}}"> {{topicElement.title}} </a>
    </h4>
    <div class="ui raised segment">
      {{topicElement.textWithoutHeadder}}
    </div>
  </div>
