<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

<body>

<div class="container-fluid">

<div class="row">
  <br>
  <hr>

  <div class="col-md-3">
  </div>

  <div class="col-md-9">

# for topicElement in topic.topicElements  
<div class="row">
  <div class="col-md-8">
    {{topicElement.text}}
  </div>
  <div class="col-md-3">
    <a href="{{courseUrl}}{{topicElement.fullPdfPath}}"> 
      <img class="img-rounded" height="200" src="{{courseUrl}}{{topicElement.fullImgPath}}">
    </a>
  </div>
</div>
<hr>
# endfor


# for book in topic.bookList
<div class="row">
  <div class="col-md-8">
    <h4> Lab {{book.title}} </h4>
    <blockquote>
      {{book.objectivesWithoutHeadder}}
    <blockquote>
  </div>
  <div class="col-md-3">
    <a href="{{courseUrl}}{{book.topicFolder}}/{{book.folder}}/index.html"> 
      <img class="img-rounded" height="200" src="{{courseUrl}}{{book.topicFolder}}/{{book.folder}}/img/main.png">
    </a>
  </div>
</div>
<hr>
# endfor

<br>
</div>
</div>
</div>
<hr>
</body>
<html>