# extends "main.html"
# block content

<header class="ui middle aligned two column raised grid segment">
  <div class="row">
    <div class="column">
      <h1><a href="../index.html"> {{course.title}} </a></h1>
      <h3> {{course.programme}}</h3>
    </div>
    <div class="column">
      <img class="ui medium image floated right" src="./style/custom/logo.png"/>
    </div>
  </div>
</header>

<section class="ui grid">
  
  <section class="ui four column wide">
    <nav class="ui vertical fluid pointing menu">
      <div class="menu">
        # for currentTopic in course.topicList
        # if currentTopic.folder == topic.folder
        <a class="active item" href=" ../{{currentTopic.folder}}/index.html"> {{currentTopic.title}} </a>
        # else
        <a class="item" href=" ../{{currentTopic.folder}}/index.html"> {{currentTopic.title}} </a>
        # endif
        # endfor
      </div>
    </nav>
  </section>

  <section class="ui twelve column wide">
    <section class="ui stacked segment">
      {{topic.content}}
      <div class="ui  middle aligned grid">
        # for topicElement in topic.topicElements     
          <div class="row">   
            <div class="ten column wide">
              <h4 class="ui center aligned header">
               {{topicElement.title}}
              </h4>
              <div class="ui raised segment">
                {{topicElement.textWithoutHeadder}}
              </div>
            </div>
            <div class="six vertical column wide">
              <a href="./pdf/{{topicElement.pdf}}"> 
                # if topicElement.img:
                <img class="ui medium image" src="{{topicElement.img}}"> 
                # else
                  {{topicElement.pdf}}
                # endif
              </a>
            </div>
          </div>
        # endfor

        # for book in topic.bookList
          <div class="row">   
            <div class="ten column wide">
             <h4 class="ui center aligned header">
               Lab: {{book.title}} 
             </h4>
              <div class="ui raised segment">
                {{book.objectivesWithoutHeadder}}
              </div>
            </div>
            <div class="six column wide center aligned">
              <a  href="./{{book.folder}}/index.html"> 
                # if book.img:
                  <img class="ui medium image" src="{{book.img}}" alt="Lab"> 
                # else
                  <i class="massive settings icon"></i>
                #endif  
              </a>
            </div>
        </div>
        # endfor
      </div>
    </section>
  </section>
  
</section>
# endblock 